pkgbase = hallucinate
	pkgdesc = Fast, modern desktop music player with Spotify-style search and browsing (PySide6/QML)
	pkgver = 0.3.1
	pkgrel = 1
	url = https://github.com/bulmaspanties/Hallucinate
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = pyside6
	depends = python-mutagen
	depends = python-keyring
	depends = python-numpy
	depends = qt6-multimedia-ffmpeg
	depends = qt6-declarative
	optdepends = gnome-keyring: store Last.fm credentials in the system keyring
	optdepends = kwallet: store Last.fm credentials in the system keyring
	source = hallucinate-0.3.1.tar.gz::https://github.com/bulmaspanties/Hallucinate/archive/refs/tags/v0.3.1.tar.gz
	sha256sums = a3aa76f0b7122d8ec722a159e41748f7dfc85d5a376fe948a60f66aa88a03540

pkgname = hallucinate
